{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Kategorien" %}{% endblock %}


{% block content %}
<header>
  <h2>{% trans "Kategorien" %}</h2>
</header>
<section class="categories">
  {% for category in category_list %}
  <article class="category">
    <a href="{% url 'events:category_detail' category.pk %}">
      <img src="{{category.icon.url}}" />
      <h3>{{category.name}}</h3>
    </a>
  </article>
  {% endfor %}
</section>
{% endblock %}
