{% extends "base.html" %}
{% load i18n share %}

{% block title %}{{event.title}}{% endblock %}

{% block content %}
<h1 class="event-title">{{event.title}}</h1>
<div class="detail">
  <section class="event-info">
    {% if event.is_offline %}
    <a class="location" href="{{event.map_url}}" target="_blank">
      {{event.street}}, {{event.city}}, {{event.zip_code}}
    </a>
    {% endif %}
    <time class="time" datetime="{{event.date|date:"c"}}">
      {{event.date|date:"d. M. H:i"}}
    </time>
    {% if event.is_online %}
    <a class="event-link" target="_blank" href="{{event.link}}">{{event.link|truncatechars:40}}</a>
    {% endif %}

    <div class="description">
      {{event.description|safe}}
    </div>
  </section>
  {% if event.image %}
  <section class="image">
    <img src="{{event.image.url}}"/>
  </section>
  {% endif %}
</div>
<section class="buttons">
  <a class="button" href="{% facebook request.build_absolute_uri %}">Facebook</a>
  <a class="button" href="{% twitter request.build_absolute_uri %}">Twitter</a>
  <a class="button" href="{% mail request.build_absolute_uri event.title %}">E-Mail</a>
  <a class="button" href="{% linkedin request.build_absolute_uri event.title %}">LinkedIn</a>
</section>

{% if request.user.is_authenticated %}
<div class="internal buttons">
  {% if event.owner == request.user or perms.publish_event %}
  <a class="button" href="{% url 'events:event_update' event.pk %}">
    {% trans "Bearbeiten" %}
  </a>
  {% endif %}
  {% if event.discussion_id %}
  <a class="button" href="{{event.chat_link}}" target="_blank">
    {% trans "Chat" %}
  </a>
  {% endif %}
</div>
{% endif %}
{% endblock %}
