{% extends "base.html" %}
{% load i18n utils static %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<header class="content">
  <h2>{{title}}</h2>
  <div class="buttons">
    <button id="sidePanelToggle">
      {% trans 'Filter' %}
    </button>
  </div>
</header>
<section class="events">
  {% for event in event_list %}
  <article class="event">
    <a class="date" href="{% url 'events:event_detail' event.pk %}">
      <span class="day">
        {{event.date|date:"d"}}
      </span>
      <span class="month">
        {{event.date|date:"M"}}
      </span>
    </a>
    <div class="info">
      <h3><a href="{% url 'events:event_detail' event.pk %}">{{event.title}}</a></h3>
      <div class="where-and-when">
        {% if event.city %}
        {{event.city}} | {% endif %}{{event.date|date:"H:i"}}
      </div>
      <div class="icons">
        {% if event.is_offline %}
        <a href="{{event.map_url}}" title="{% trans "Ort auf Google Maps" %}" target="_blank">
          <img src="{% static 'icons/map-pin-line.svg' %}" />
        </a>
        {% endif %}
        {% if event.link %}
        <a href="{{event.link}}" title="{% trans "Veranstaltungslink" %}" target="_blank">
          <img src="{% static 'icons/link.svg' %}" />
        </a>
        {% endif %}
        <a href="{% url 'events:category_detail' event.category.pk %}" title="{{event.category.name}}">
          <img src="{{event.category.icon.url}}"/>
        </a>
        {% if request.user.is_authenticated %}
        {% if event.owner == request.user %}
        <a href="{% url 'events:event_update' event.pk %}" title="{% trans "Bearbeiten" %}">
          <img src="{% static 'icons/edit-line.svg' %}" />
        </a>
        {% endif %}
        {% if event.discussion_id %}
        <a href="{{event.chat_link}}" title="{% trans "Interner Chat" %}" target="_blank">
          <img src="{% static 'icons/chat-1-line.svg' %}" />
        </a>
        {% endif %}
        {% comment %}
        <a href="{% url 'events:event_internal' event.pk %}" title="{% trans "Intern" %}">
          <img src="{% static 'icons/admin-line.svg' %}" />
        </a>
        {% endcomment %}
        {% endif %}
        <a href="{% url 'events:event_detail' event.pk %}" title="{% trans "Intern" %}">
          <img src="{% static 'icons/eye-line.svg' %}" />
        </a>
        <a href="{% url 'events:event_ical' event.pk %}">
          <img src="{% static 'icons/calendar-line.svg' %}" />
        </a>
      </div>
    </div>
    {% if event.image %}
    <a class="image" href="{% url 'events:event_detail' event.pk %}">
      <img src="{{event.image.url}}" />
    </a>
    {% endif %}
  </article>
  {% empty %}
  <p>
  {% if request.user.is_authenticated %}
  {% url 'events:event_create' as create_url %}
  {% blocktranslate %}Leider keine Events gefunden. <a href="{{create_url}}">Erstelle einen!</a>{% endblocktranslate %}
  {% else %}
  {% url 'django_auth_oidc:login' as login_url %}
  {% blocktranslate %}Leider keine Events gefunden. Melde dich <a href="{{login_url}}">jetzt hier</a> an und erstelle einen!{% endblocktranslate %}
  {% endif %}
  </p>
  {% endfor %}
</section>
<section class="pagination">
  <div class="previous">
    {% if page_obj.has_previous %}
    <a class="page button" href="?{% param_replace page=page_obj.previous_page_number %}">{% trans "Zurück" %}</a>
    {% endif %}
  </div>

  <div class="next">
    {% if page_obj.has_next %}
    <a class="page button" href="?{% param_replace page=page_obj.next_page_number %}">{% trans "Weiter" %}</a>
    {% endif %}
  </div>
</section>
{% endblock %}

{% block aside %}
<form action="" method="get" id="filterForm">
  {{filter.form}}
  <div class="buttons">
    <button type="submit">{% trans 'Anwenden' %}</button>
  </div>
</form>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/{{request.LANGUAGE_CODE}}.js"></script>
<script>
  const flatpickrConfig = {
      altInput: true,
      altFormat: "j. M. Y",
      dateFormat: "Y-m-d",
      locale: "{{request.LANGUAGE_CODE}}",  // locale for this instance only
    };
    flatpickr("#id_date_gt", flatpickrConfig);
    flatpickr("#id_date_lt", flatpickrConfig);
</script>
{% endblock %}
