{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Event erstellen' %}{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{form}}
  <div class="buttons">
    <button type="submit">{% trans 'Erstellen' %}</button>
  </div>
</form>
{% endblock %}


{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block script %}
{{form.media}}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/{{request.LANGUAGE_CODE}}.js"></script>
<script>
  const flatpickrConfig = {
      enableTime: true,
      altInput: true,
      altFormat: "j.m.Y H:i",
      dateFormat: "Y-m-dTH:i",
      locale: "{{request.LANGUAGE_CODE}}"  // locale for this instance only
    };
    flatpickr("#id_date", flatpickrConfig);
</script>
{% endblock %}
