{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% trans 'We Are the 99%' %}{% endblock %}

{% block style %}
<style>
main {
  background: url("{% static 'landing_image.jpg' %}"), #0000005e;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
}
.form-center {
  color: var(--white);
}
body > header > nav > a {
  color: var(--white);
}
h1 {
  text-transform: uppercase;
}
p {
  margin-bottom: 2em;
}
</style>
{% endblock %}

{% block content %}
<div class="form-center">
  <h1>{% trans "Suche nach Anlässen in deiner Nähe" %}</h1>
  <p>
  {% blocktranslate %}Du willst wissen, wann die nächste Bildungsveranstaltung oder die nächste Flyeraktion in deiner Region stattfindet? Diese Seite gibt dir einen Überblick über alle geplanten Verantstaltungen. Eingeloggt kannst du auch selbst Events eintragen,die du organisierst. Öffentliche Verantstaltungen werden noch kurz überprüft, bevor sie dann auf der Webseite aufgeschaltet werden.{% endblocktranslate %}
  </p>
  <form action="{% url 'events:event_list' %}" method="get">
    <input type="text" name="search" id="search" placeholder="{% trans 'Suche eine Veranstaltung!' %}"/>
    <button type="submit" id="go">{% trans 'Los' %}</button>
  </form>
</div>
{% endblock %}
