:root {
  --viewport-width: 1024px;
  --min-viewport-padding: 1em;
  --red: #d20729;
  --blue: #0087cc;
  --red-gradient: linear-gradient(180deg, #f54966 0%, #d20729 100%);
  --blue-gradient: linear-gradient(180deg, #70c0e9 0%, #0087cc 100%);
  --white: #fff;
  --black: #232323;
}
a {
  text-decoration: none;
  color: var(--black);
}

p > a {
  text-decoration: underline;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  max-width: 100vw;
  color: var(--black);
}

.buttons.internal {
  display: flex;
  justify-content: flex-end;
}
button,
a.button {
  cursor: pointer;
  background: var(--red-gradient);
  border: 1px solid #92061d;
  color: var(--white);
  border-radius: 4px;
  font-size: 1em;
  font-weight: 600;
  font-family: "Montserrat";
  padding: 0.2em 1em;
}

body > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

body > header > nav {
  display: flex;
  align-items: center;
}

body > header > nav > a {
  margin: 0 0.5em;
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

h2 {
  font-size: 2.4em;
  margin-bottom: 1rem;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 800;
}

.logo img {
  height: 2em;
}

@media (max-width: 560px) {
  a.logo span {
    display: none;
  }
  body > header > nav a {
    font-size: 0.8em;
  }
}

a.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--red);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3em;
}
a.logo span {
  margin-left: 1em;
}

main {
  margin-top: -5em;
  padding-top: 6em;
  padding-bottom: 3em;
  padding-right: max(
    var(--min-viewport-padding),
    50vw - var(--viewport-width) / 2
  );
  padding-left: max(
    var(--min-viewport-padding),
    50vw - var(--viewport-width) / 2
  );
  min-height: 100vh;
}

aside#sidePanel {
  position: fixed;
  left: 100vw;
  top: 0;
  width: min(90vw, 300px);
  background: var(--white);
  height: 100vh;
  transition: all 200ms;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: black 0px 0px 8px;
  overflow-y: auto;
}

aside#sidePanel.open {
  transform: translateX(-100%);
  z-index: 3;
}

aside#sidePanel.open ~ #overlay {
  background: black;
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.6;
}

#overlay {
  display: none;
}

body > footer {
  display: flex;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

header.content {
  display: flex;
  justify-content: space-between;
}

/***
 * Events styling
 */

.event {
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.15),
    0px 4px 1px -3px rgba(0, 0, 0, 0.19);
}
.event:first-child {
  margin-top: 0;
}

.info {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  padding: 1em 1.2em;
}

.event h3 {
  margin: 0;
  font-size: clamp(1.2em, 2.8vw, 1.6em);
  margin-bottom: 0.1em;
}

.event .date {
  color: var(--white);
  flex: 0 0 clamp(82px, 17vw, 120px);
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 120px;
}

.event .date .day {
  font-size: clamp(40px, 9vw, 64px);
}
.event .date .month {
  font-size: clamp(19px, 7vw, 32px);
  text-transform: uppercase;
}

.event .where-and-when {
  flex: 1 1;
  font-weight: 600;
}
.event:nth-child(even) .date {
  background: var(--red-gradient);
}
.event:nth-child(even) .where-and-when {
  color: var(--red);
}

.event:nth-child(even) .icons {
  color: var(--blue);
}

.icons a {
  margin: 0 0.1em;
}

.event:nth-child(odd) .date {
  background: var(--blue-gradient);
}

.event:nth-child(odd) .where-and-when {
  color: var(--blue);
}

.event:nth-child(odd) .icons {
  color: var(--red);
}

.pagination {
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
}

#filterForm {
  margin-bottom: 2em;
}

form .buttons {
  margin-top: 1em;
  display: flex;
}

.buttons button,
.buttons a.button {
  margin: 0 0.5em;
}

.buttons button:first-child,
.buttons a.button:first-child {
  margin: 0;
}
label {
  margin-top: 0.5em;
}

.form-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(80vh - 5em);
  flex-direction: column;
}

.form-center h1 {
  margin: 0;
}

h1.event-title {
  font-size: 2.8em;
  text-transform: uppercase;
}

.description {
  max-width: 48ch;
}

.helptext {
  font-size: 0.8em;
}

section.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1em;
  row-gap: 1em;
}

article.category a {
  color: white;
}
article.category h3 {
  margin: 0;
}

article.category a img {
  filter: invert();
}

article.category:nth-child(odd) {
  background: var(--red-gradient);
}

article.category:nth-child(even) {
  background: var(--blue-gradient);
}

article.category img:nth-child(1) {
  width: 8em;
  margin: 2em;
}

.event .image {
  flex: 0 1 20%;
  max-width: 30%;
  max-height: 196px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.detail .image {
  max-width: min(100%, 320px);
}

.image > img {
  max-width: 100%;
  max-height: 100%;
}

article.category a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article.category h3 {
  width: 100%;
  text-align: center;
  background: #2323236c;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  font-weight: 600;
}

.detail {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  margin-bottom: 1em;
}

.detail .image img {
  width: 100%;
  flex: 1 0;
}
.location {
  font-size: 1.2em;
  margin-bottom: 0.3em;
  font-weight: bold;
}
.time {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.4em;
}
a.event-link {
  font-weight: bold;
}

.form-center input#search {
  width: 52ch;
  max-width: min(80vw, 52ch);
}

button#go {
  margin-top: 1em;
}

.form-center form {
  align-items: flex-end;
  justify-content: flex-end;
}

body > footer {
  justify-content: space-evenly;
  background: var(--black);
  color: white;
  flex-wrap: wrap-reverse;
}

.help {
  width: 42ch;
  max-width: 100%;
  margin-bottom: 2em;
}

.help p {
  margin-bottom: 2em;
}
