{% load static i18n %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} - {% trans 'Events' %}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap" rel="stylesheet"> 
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
    {% block style %}
    {% endblock %}
  </head>
  <body>
    <header>
      <a href="{% url 'events:landing' %}"class="logo">
        <img src="{% static request.LANGUAGE_CODE %}/logo.png"/>
        <span>
          {% trans 'Events' %}
        </span>
      </a>
      <nav>
        <a href="{% url 'events:event_list' %}">{% trans 'Alle Events' %}</a>
        <a href="{% url 'events:category_list' %}">{% trans 'Kategorien' %}</a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'events:event_create' %}">{% trans 'Erstellen' %}</a>
        <a href="{% url 'events:my_events' %}">{% trans 'Meine' %}</a>
        {% if perms.events.publish_events and review_count > 0 %}
        <a href="{% url 'events:review_events' %}">{% trans 'Review' %} ({{review_count}})</a>
        {% endif %}
        {% else %}
        <a href="{% url 'django_auth_oidc:login' %}">{% trans 'Anmelden' %}</a>
        {% endif %}
      </nav>
    </header>
    <main>
      {% block content %}

      {% endblock %}
    </main>
    <aside id="sidePanel">
      <button id="closePanel">
        {% trans 'Schliessen' %}
      </button>
      {% block aside %}
      {% endblock %}
    </aside>
    <div id="overlay">
    </div>
    <footer>
      <div class="icon">
        <img src="{% static request.LANGUAGE_CODE %}/logo.png"/>
      </div>
      <div class="help">
        <h2>{% trans 'Hilf mit!' %}</h2>
        <p>{% blocktrans %}Unterstütze die 99%-Initiative jetzt mit einer Spende und engagiere dich in deiner Region für die Kampagne und hilf uns im Kampf für eine gerechtere Besteuerung der Kapitaleinkommen!{% endblocktrans %}</p>
        <div class="buttons">
          <a href="https://99prozent.ch/spenden/" target="_blank" class="button">{% trans 'Spenden' %}</a>
          <a href="https://www.we-are-the-99.ch/" target="_blank" class="button">{% trans 'Mitmachen' %}</a>
        </div>
      </div>
    </footer>
    <script src="{% static 'js/events.js' %}"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>
